<div id="about-container">
    <h2 class="about-title">📦 NPM Packages 📦</h2>
    <ul id="about-ul">
        <li>
            <p class="about-li-item">express</p>
            <p class="about-li-desc">abstraction layer for http server and route handling</p>
        </li>
        <li>
            <p class="about-li-item">express-session</p>
            <p class="about-li-desc">used to generate sessions and store cookies on client</p>
        </li>
        <li>
            <p class="about-li-item">connect-mongo</p>
            <p class="about-li-desc">paired with express-session to store sessions in MongoDB</p>
        </li>
        <li>
            <p class="about-li-item">passport</p>
            <p class="about-li-desc">awesome wrapper for session-handling, authentication, and cookies</p>
        </li>
        <li>
            <p class="about-li-item">passport-local</p>
            <p class="about-li-desc">passport strategy for local username / password based authentication</p>
        </li>
        <li>
            <p class="about-li-item">mongoose</p>
            <p class="about-li-desc">mongoDB wrapper for easier querying to database</p>
        </li>
        <li>
            <p class="about-li-item">hbs</p>
            <p class="about-li-desc">dynamic rendering of html files using data passed from server</p>
        </li>
        <li>
            <p class="about-li-item">multer</p>
            <p class="about-li-desc">easy storing and limiting of user uploads to the server</p>
        </li>
        <li>
            <p class="about-li-item">fs</p>
            <p class="about-li-desc">manipulation and reading of files</p>
        </li>
        <li>
            <p class="about-li-item">bcrypt</p>
            <p class="about-li-desc">password hashing for secure storage in database</p>
        </li>
        <li>
            <p class="about-li-item">dotenv</p>
            <p class="about-li-desc">used to setup secret environment variables</p>
        </li>
        <li>
            <p class="about-li-item">path</p>
            <p class="about-li-desc">great tool for constructing relative and absolute paths</p>
        </li>
    </ul>
</div>
