<div class="ed-main">
    <form enctype="multipart/form-data" id="edit-form" class="ed-midbar" method="POST">
        <div class="ed-midbar-bg">
            <h2 class="sb-name">
                <input name="name" id="edit-name" value="{{ name }}" placeholder="Enter name...">
            </h2>
            <div class="sb-pic hov1">
                <label for="edit-avatar">
                    <img id="edit-avatar-img" src="/imgs/avatars/{{ avatar }}">
                </label>
                <input name="avatar" class="input-hidden" id="edit-avatar" type="file" accept="image/*">
            </div>
            <textarea name="description" id="edit-description" placeholder="Enter description...">{{ description }}</textarea>
            <div class="ed-div">
                <a id="edit-cancel" class="edit-user ed-cancel hov1" href="/profile/id/{{ name }}">
                    <p class="ed-cancel-text">DONE</p>
                </a>
                <label for="edit-submit" id="edit-save" class="edit-user ed-save hov1">
                    <p class="ed-save-text">SAVE</p>
                    <input id="edit-submit" class="input-hidden" type="submit">
                </label>
            </div>
            <a id="edit-change-pass" class="edit-user ed-change-pass hov1" href="/changepass">
                <p class="ed-change-pass-text">Change<br/>Password</p>
            </a>
            <p id="edit-msg"></p>
        </div>
    </form>
</div>

<script src="/js/editprofile.js"></script>
